/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header styles */
header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

h1, h2 {
    color: #ff6347;
}

/* Image styles */
img {
    width: 200px;
    height: auto;
    cursor: pointer;
}

/* Links */
.links a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

.android {
    background-color: #A4C639;
}

/* Game section */
#game {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#socials a {
    text-decoration: none;
    color: #ff6347;
    margin: 0 5px;
    font-weight: bold;
}

#socials a:hover {
    text-decoration: underline;
}
